<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Change password 
    <form action="/passwordChange" method="post">
        <label for="oldPassword">Enter the old password</label>
        <input type="password" name="oldPassword">
        <label for="newPassword">Enter the new password</label>
        <input type="password" name="newPassword">
        <button type="submit" method="POST">Change</button>
    </form>
</body>
</html>